@import "_normalize";
$PN: 'ProximaNova-Regular';
$PNsb: 'ProximaNova-Semibold';
$PNb: 'ProximaNova-Bold';

$DIN: 'DINPro';
$DINm: 'DINPro-Medium';
$DINb: 'DINPro-Bold';
$DINbk: 'DINPro-Black';

$DINCm: 'DINPro-CondensedMedium';
$DINCb: 'DINPro-CondensedBold';

$RSb: 'RobotoSlab-Bold';

$PNN: 'Proxima Nova';
$DINN: 'DIN Pro';
$DINCN: 'DIN Pro Condensed';
$RSN: 'Roboto Slab';

$normal: normal;
$italic: italic;
$bold: bold;
$semibold: 600;
$medium: 500;
$norm: 400;
$heavy: 700;
$black: 900;
$light: 300;

$dir:'../fonts/';
$transparentbg: rgba(173,152,0,0.4);
$btn-color:linear-gradient(180deg, rgba(177, 0, 99, 1) 0%, rgba(122, 0, 68, 1) 100%);
$wc:#fff;
$bc:#000;
$accent-color:#009dad;
$ttl:30px;
$fz:16px;
$shadow: 0 0 8px rgba(0, 0, 0, 0.25);

@mixin trans(){
    transition: all 0.4s;
}
@mixin font($fontname, $fweight, $fstyle, $fontfamily){
    @font-face {
                font-family: $fontfamily;
                src: url($dir+$fontname+'.eot');
                src: url($dir+$fontname+'.eot') format("eot"),
                     url($dir+$fontname+'.ttf') format("truetype");
                font-weight: $fweight;
                font-style: $fstyle;
    }
}
@include font($PN, $normal, $normal, $PNN);
@include font($PNsb, $semibold, $normal, $PNN);
@include font($PNb, $bold, $normal, $PNN);
@include font($DINm, $medium, $normal, $DINN);
@include font($DINb, $bold, $normal, $DINN);
@include font($DINbk, $black, $normal, $DINN);
@include font($DINCm, $medium, $normal, $DINCN);
@include font($DINCb, $bold, $normal, $DINCN);
@include font($RSb, $bold, $normal, $RSN);

body{
    font-size: 16px;
    font-family: $PNN, sans-serif;
    font-weight: 400;
    color: $bc;
}
.container{
    max-width: 1277px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.flex-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    text-align: center;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    button{
        width: 100%;
        height: 40px;
        color: #ffffff;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.32px;
        line-height: 19px;
        text-decoration: none;
        border: none;
        background: $btn-color;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        &:hover {
          border: 1px solid #c42d7b;
          box-shadow: inset 0 0 20px rgba(255, 204, 230, .5), 0 0 20px rgba(255, 204, 230, .2);
          outline-color: rgba(255, 255, 255, 0);
          outline-offset: 15px;
          text-shadow: 1px 1px 2px #427388; 
          transform: scale(1.03);
        }
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slick-dots{
    bottom: 140px;
    z-index: 5;
}
.slick-dots li{
    border: 1px solid $accent-color;
    border-radius: 50%;
}
.slick-dots .slick-active{
    background: $accent-color;;
}
.slick-dots li button:before{
    display: none;
}
.ttl-head{
    text-align: center;
    h2{
        font-family: "DIN Pro";
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.6px;
        strong{
            font-weight: 900;
        }
    }
}
main{
    height: 100%;
    section{
        position: relative;
        &.one{
            height: 100%;
            min-height: 1120px;
            .slider-bg{
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                min-height: 1120px;
                .slide-bg{
                    width: 100%;
                    min-height: 1120px;
                    background: url(../img/slide.png)no-repeat;
                }
                &:after{
                    content:"";
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: rgba(0,0,0,0.5);
                    position: absolute;
                    
                }
            }
            header{
                position: fixed;
                z-index: 100;
                background: $transparentbg;
                min-height: 55px;
                margin-top: 20px;
                top: 0;
                left: 0;
                right: 0;
                padding-top: 12px;
                @include trans();
                .logo{
                    a{    
                        color: #fff;
                        font-family: $DINCN;
                        font-size: 30px;
                        font-weight: 500;
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                    }
                }
                nav{
                    ul{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        
                        li{
                            list-style: none;
                            padding: 0 13px;
                            
                            a{
                                
                                color: #ffffff;
                                font-family: "Proxima Nova";
                                font-size: 16px;
                                font-weight: 600;
                                letter-spacing: 0.32px;
                                line-height: 19px;
                                position: relative;
                                z-index: 2;
                            }
                            &.active, &:hover{
                                background: $accent-color;
                                position: relative;
                                &:after{
                                    content: "";
                                    background: $accent-color;
                                    position: absolute;
                                    top: -18px;
                                    right: 0;
                                    left: 0;
                                    bottom: -18px;
                                }
                            }
                        }
                    }
                }
                .phone{
                    a{
                        color: #fff;
                        img{
                            margin-bottom: -5px;
                            margin-right: 8px;
                        }
                        span{
                            font-family: $DINCN;
                            font-size: 26px;
                            font-weight: 500;
                            letter-spacing: 0.52px;
                            line-height: 30px;
                        }
                    }
                }
                &.fixed{
                    margin-top: 0;
                    background: rgba(173, 152, 0, 0.95);
                }
            }
            .utp{
                position: relative;
                z-index: 4;
                max-width: 1100px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                padding-top: 270px;
                .main-ttl{
                    h1{
                      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                        color: #ffe7f4;
                        font-family: "Roboto Slab";
                        font-size: 58px;
                        font-weight: 700;
                        letter-spacing: 1.16px;
                        line-height: 56px;  
                    }
                }
                .main-desc{
                    margin-top: 89px;
                    p{
                        color: #ffffff;
                        font-family: "Proxima Nova";
                        font-size: 24px;
                        font-weight: 700;
                        letter-spacing: 0.48px;
                        line-height: 28px;
                    }
                }
                .main-btn{
                    margin-top: 85px;
                    max-width: 335px;
                    button{
                       height: 50px; 
                    }
                }
            }
            .navig{
                position: absolute;
                padding: 5px;
                z-index: 6;
                cursor: pointer;
                top: 40%;
                @include trans();
                img{
                    max-width: 100%;
                    height: auto;
                }
                &:hover{
                    background: rgba(0,0,0,0.4);
                }
            }
            .nav-prev{
                left: 100px;
            }
            .nav-next{
                right: 100px;
            }
        }
        &.two{
            .context-ttl{
                padding: 0 10px;
                position: relative;
                margin-top: -8.5%;
                z-index: 6;
                width: 100%;
                min-height: 200px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                .marg{
                    
                }
                .dsc{
                    font-family: "Proxima Nova";
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 0.4px;
                    line-height: 23px;
                    padding-top: 22px;
                }
            }
            .furniture{
                width: 100%;
                min-height: 550px;
                margin-top: 50px;
                .item{
                    
                    min-height: 549px;
                    &-kitchen{
                        max-width: 808px;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        float: left;
                    }
                    &-price{
                        position: absolute;
                        left: 25px;
                        top: 25px;
                        color: #ffffff;
                        font-family: "DIN Pro Condensed";
                        font-size: 24px;
                        font-weight: 400;
                        letter-spacing: 0.48px;
                        line-height: 31px;
                        border-radius: 5px;
                        background-color: rgba(0,0,0,0.5);
                        padding: 5px 35px;
                    }
                    &-img{
                        img{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    &-txt{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 80px 40px;
                        h4{
                            color: #000000;
                            font-family: "DIN Pro";
                            font-size: 20px;
                            font-weight: 500;
                            letter-spacing: 0.4px;
                            line-height: 23px;
                        }
                        .desc{
                            margin-top: 31px;
                            color: #000000;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: 0.32px;
                            line-height: 21px;
                        }
                        .kitchen-btn{
                            max-width: 200px;
                            margin-top: 82px;
                            button{
                                width: 200px;
                                box-shadow: 0 4px 7px rgba(122, 0, 68, 0.23);
                            }
                        }
                    }
                }
                .slick-list {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                }
            }
            .furniture-pagination{
                margin-top: 18px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
                .item-pag{
                    cursor: pointer;
                    img{
                        max-width: 170px;
                        max-height: 130px;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
        &.three{
            margin-top: 80px;
            .sostav-wrap{
                justify-content: space-around;
                flex-wrap: wrap;
                min-height: 870px;
                background: url(../img/bg-1.jpg)no-repeat;
                background-position: center center;
                .sostav-item{
                    max-width: 355px;
                    width: 100%;
                    text-align: center;
                    margin: 0 40px;
                    &-img{
                        img{
                            width: 200px;
                            height: 200px;
                        }
                    }
                    &-ttl{
                        margin-top: 8px;
                        font-family: "Proxima Nova";
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 0.4px;
                        line-height: 26px;
                    }
                    &-txt{
                        margin-top: 8px;
                        font-family: "Proxima Nova";
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: 0.32px;
                        line-height: 21px;
                    }
                }
            }
            .sostav-btn{
                max-width: 300px;
                button{
                    
                }
            }
        }
        &.four{
            min-height: 770px;
            background: url(../img/bg-2.jpg);
            margin-top: 50px;
            .stock{
                padding-top: 34px;
                .stock-card{
                    margin-top: 34px;
                    min-height: 566px;
                    box-shadow: $shadow;
                    border-radius: 8px;
                    background-color: #ffffff;
                    padding: 55px 45px;
                    .oplet{
                        max-width: 465px;
                    }
                    .stock-cadr-6{
                        .spec{
                            font-family: "DIN Pro";
                            .one{
                                font-size: 24px;
                                font-weight: 500;
                                letter-spacing: 0.48px;
                                line-height: 28px;
                            }
                            .two{
                                font-size: 27px;
                                line-height: 30px;
                            }
                            .three{
                                font-size: 28px;
                                font-weight: 700;
                                letter-spacing: 0.42px;
                                line-height: 38px;
                            }
                            .four{
                                font-size: 30px;
                                font-weight: 900;
                                letter-spacing: 0.39px;
                                line-height: 42px;
                            }
                        }
                        .text{
                            margin-top: 35px;
                            p{
                                font-size: 16px;
                                font-weight: 400;
                                letter-spacing: 0.32px;
                                line-height: 21px;
                            }
                        }
                        .call{
                            margin-top: 45px;
                            font-family: "DIN Pro Condensed";
                            font-size: 26px;
                            font-weight: 400;
                            letter-spacing: 0.52px;
                            line-height: 34px;
                        }
                        .number{
                            margin-top: 25px;
                            text-align: center;
                            a{
                                color: $accent-color;
                                font-family: "DIN Pro Condensed";
                                font-size: 34px;
                                font-weight: 400;
                                letter-spacing: 0.68px;
                                line-height: 40px;
                                border-bottom: 2px solid $accent-color;
                            }
                        }
                        .img{
                            
                            img{
                                max-width: 100%;
                                width: auto;
                                box-shadow: $shadow;
                            }
                        }
                    }
                }
            }
        }
        &.five{
            margin-top: 60px;
            .advantage{
                .advant-items{
                    margin-top: 50px;
                    align-items: baseline;
                    .item{
                        text-align: center;
                        max-width: 245px;
                        &-ico{
                            img{
                                width: 55px;
                                height: 55px;
                            }
                        }
                        &-ttl{
                            margin-top: 22px;
                            h4{
                                font-size: 20px;
                                font-weight: 600;
                                letter-spacing: 0.4px;
                                line-height: 21px;
                            }
                        }
                        &-desc{
                            margin-top: 22px;
                            p{
                                font-weight: 400;
                                letter-spacing: 0.32px;
                                line-height: 22px;
                              }
                        }
                    }
                }
            }
        }
        &.six{
            margin-top: 80px;
            .review{
                &-items{
                    margin-top: 50px;
                    .review-preview{
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                        max-width: 650px;
                        .preview{
                            width: 110px;
                            height: 110px;
                            border: 9px solid $transparentbg;
                            border-radius: 50%;
                            margin: 0 12px;
                            cursor: pointer;
                            img{
                                width: 90px;
                                height: 90px;
                                border-radius: 50%;
                                opacity: 0.5;
                                @include trans();
                            }
                            &:hover img, &.active img{
                                opacity: 1;
                            }
                        }
                        .slick-slide{
                            width: auto !important;
                        }
                        .slick-track{
                            width: 100% !important;
                        }
                    }
                    
                    .review-slider{
                        margin-top: 20px;
                        min-height: 581px;
                        box-shadow: $shadow;
                        position: relative;
                        .slide-card{
                            position: relative;
                            max-width: 850px;
                            width: 100%;
                            padding-top: 50px;
                            margin-left: 21px;
                            .sldr{
                                .name{
                                    font-size: 20px;
                                    font-weight: 600;
                                    letter-spacing: 0.4px;
                                    line-height: 26px;
                                    padding-left: 52px;
                                    padding-bottom: 10px;
                                }
                                .video{
                                    max-width: 745px;
                                    min-height: 420px;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        }
                        .auhtor{
                            position: absolute;
                            bottom: 0;
                            right: 50px;
                            .auth-sldr{
                                max-width: 320px;
                                width: 100%;
                                .item{
                                    img{
                                        min-width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }
                    
                    .video__active {
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        .video__wrapper {
                            position: relative;
                            padding-bottom: 52.1%;
                            padding-top: 30px;
                            height: 0;
                            overflow: hidden;
                            iframe {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .nav{
                    position: absolute;
                    top: 50%;
                    cursor: pointer;
                }
                .nav-prev{
                    left: 0;
                }
                .nav-next{
                    right: 0;
                }
            }
        }
        &.seven{
            margin-top: 80px;
            .workers{
                .work{
                    margin-top: 25px;
                    min-height: 770px;
                    background: url(../img/bg-3.jpg)no-repeat;
                    position: relative;
                    
                    .wrks{
                        position: relative;
                        top: 55px;
                        z-index: 1;
                        min-height: 661px;
                        box-shadow: $shadow;
                        border-radius: 8px;
                        background-color: #fff;
                        padding: 29px 31px;
                    }
                    .seporate{
                        position: absolute;
                        width: 31px;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: #fff;
                        margin: auto;
                    }
                    &-col-6{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        flex-direction: column;
                        .ttl{
                            position: relative;
                            padding: 5px;
                            width: 100%;
                            h4{
                                font-size: 22px;
                                font-weight: 600;
                                letter-spacing: 0.44px;
                                line-height: 26px;
                            }
                            &:after{
                                content: "";
                                position: absolute;
                                bottom: 0;
                                border-bottom: 1px solid $accent-color;
                                
                            }
                        }
                        .lists{
                            ul{
                                margin-top: 15px;
                                max-width: 390px;
                                margin-left: 40px;
                                li{
                                    position: relative;
                                    padding: 4px 0;
                                    font-weight: 400;
                                    letter-spacing: 0.32px;
                                    line-height: 19px;
                                    list-style: none;
                                }
                            }
                        }
                        .img{
                            margin-top: 25px;
                            img{
                                max-width: 593px;
                                height: auto;
                                width: 100%;
                            }
                        }
                        &:last-child{
                            text-align: right;
                            align-items: flex-end;
                            ul{
                                margin-left: auto;
                                margin-right: 40px;
                                li{
                                    &:after{
                                        content: "";
                                        background: url(../img/mark.png);
                                        width: 22px;
                                        height: 18px;
                                        position: absolute;
                                        right: -38px;
                                        top: 5px;
                                    }
                                }
                            }
                            .ttl{
                                &:after{
                                    left: 50%;
                                    right: 0;
                                }
                            }
                        }
                        &:first-child{
                            ul{
                                li{
                                    &:before{
                                        content: "";
                                        background: url(../img/mark.png);
                                        width: 22px;
                                        height: 18px;
                                        position: absolute;
                                        left: -38px;
                                        top: 5px;
                                    }
                                }
                            }
                            .ttl{
                                &:after{
                                    right: 50%;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
            .spec-workers{
                position: absolute;
                max-width: 1080px;
                min-height: 136px;
                margin: auto;
                left: 0;
                right: 0;
                bottom: -44px;
                box-shadow: $shadow;
                background-color: #ffffff;
                text-align: center;
                z-index: 2;
                .title-spec{
                    margin-top: 28px;
                    font-family: "DIN Pro";
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0.48px;
                    line-height: 28px;
                }
                .phone-spec{
                    margin-top: 16px;
                    font-family: "DIN Pro";
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0.48px;
                    line-height: 28px;
                    span{
                        color: $accent-color;
                        font-family: "DIN Pro Condensed";
                        font-size: 30px;
                        font-weight: 400;
                        border-bottom: 2px solid $accent-color;
                    }
                }
            }
        }
        &.eight{
            margin-top: 113px;
            .map{
                position: relative;
                h3{
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 0.4px;
                    line-height: 23px;
                }
                .mapa{
                    min-height: 600px;
                    width: 100%;
                }
                .contacts{
                    padding-top: 25px;
                    max-width: 507px;
                    min-height: 230px;
                    width: 100%;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    background-color: $transparentbg;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    text-align: center;
                    .insta{
                        margin-top: 15px;
                        a{
                            font-family: "DIN Pro Condensed";
                            font-size: 26px;
                            font-weight: 400;
                            letter-spacing: 0.52px;
                            line-height: 30px;
                            text-transform: uppercase;
                            span{
                                vertical-align: top;
                                margin-left: 10px;
                            }
                        }
                    }
                }
                .call{
                    margin-top: 25px;
                    text-align: center;
                    width: 100%;
                    a{
                        font-family: "DIN Pro Condensed";
                        font-size: 26px;
                        font-weight: 400;
                        letter-spacing: 0.52px;
                        line-height: 30px;
                        span{
                            vertical-align: top;
                            margin-left: 10px;
                        }
                        img{
                            
                        }
                    }
                    
                }
                address{
                    margin-top: 15px;
                    font-size: 18px;
                }
                .back-form{
                    max-width: 507px;
                    min-height: 333px;
                    width: 100%;
                    position: absolute;
                    right: 30px;
                    bottom: 30px;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    background-color: $transparentbg;
                    text-align: center;
                    padding-top: 25px;
                    form{
                        padding: 30px;
                        fieldset{
                            display: flex;
                            -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                    flex-direction: column;
                            .oplet{
                                display: flex;
                            }
                            input{
                                height: 35px;
                                border-radius: 8px;
                                background-color: #ffffff;
                                padding: 0 15px;
                                
                                width: 100%;
                                border: none;
                                &:first-child{
                                    margin-right: 12px;
                                }
                                &:last-child{
                                    margin-left: 12px;
                                }
                            }
                            textarea{
                                margin-top: 18px;
                                padding: 10px 15px;
                                width: 100%;
                                height: 126px;
                                border-radius: 8px;
                                background-color: #ffffff;
                                border: none;
                            }
                            .cont{
                                margin-top: 15px;
                                button{}
                            }
                        }
                    }
                }
            }
        }
    }
}
footer{
    margin-top: 100px;
    position: relative;
    color: #FFF;
    min-height: 180px;
    background-color: #232323;
        .end-block{
            padding-top: 33px;
        }
        .logo{
            a{
                font-family: "DIN Pro Condensed";
                font-size: 30px;
                font-weight: 400;
                letter-spacing: 0.6px;
                line-height: 35px;
                color: #fff;
                text-transform: uppercase;
            }
        }
        nav{
            ul{
                display: flex;
                -webkit-justify-content: space-between;
                        justify-content: space-between;
                    
                    width: 100%;
                li{
                    list-style: none;
                    padding: 0 15px;
                    
                    a{
                        color: #fff;
                        font-weight: 600;
                        letter-spacing: 0.32px;
                        line-height: 19px;
                        display: block;
                    }
                }
            }
        }
        .phone{
            a{
                color: #fff;
                font-size: 26px;
                font-weight: 400;
                letter-spacing: 0.52px;
                line-height: 30px;
                font-family: "DIN Pro Condensed";
                img{}
            }
        }
        .offer{
            margin-top: 15px;
            max-width: 800px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            p{
                color: #9e9e9e;
                font-family: "Proxima Nova";
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.24px;
                line-height: 14px;
            }
        }
        .copyright{
            margin-top: 15px;
            max-width: 800px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            p{
                color: #9e9e9e;
                font-family: "Proxima Nova";
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.24px;
                line-height: 14px;
                a{
                    color:#2ACB72;
                }
            }
        }
    
}


/***************Mine Menu*****************/

.navBurger {
    display: none;
    z-index: 999;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #fff;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
    }
    &:after {
        bottom: -10px;
        width: 90%;
    }
    &.active {
        background: transparent;
        background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        background: #eee;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background: #eee;
        width: 110%;
    }
}

.overlay {
    position: fixed;
    background: rgba(173, 152, 0, 0.95);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.open {
        opacity: 0.99;
        visibility: visible;
        transform: scale(1);
        li {
            display: block;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
                forwards;
            animation-delay: 0.4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
            &:nth-of-type(2) {
                animation-delay: 0.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.7s;
            }
            &:nth-of-type(5) {
                animation-delay: 0.8s;
            }
            &:nth-of-type(6) {
                animation-delay: 0.9s;
            }
            &:nth-of-type(7) {
                animation-delay: 1s;
            }
        }
    }
}

.overlayMenu {
    position: absolute;
    text-align: right;
    right: 6vw;
    top: 5vw;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: block;
        position: relative;
        height: 100%;
        li {
            display: block;
            position: relative;
            opacity: 0;
            width: 100%;
            a {
                display: inline-block;
                border: 1px solid rgba(255, 255, 255, 0.09);
                color: #fff;
                text-decoration: none;
                font-size: 25px !important;
                font-weight: 600 !important;
                padding: 10px 40px 10px 40px;
                margin: 5px 0;
                transition: 0.2s;
                &:hover,
                &:active,
                &:focus {
                    transform: translateX(-2px);
                    padding-left: 80px;
                    outline: 1px solid rgba(255, 255, 255, 0.3);
                    background: rgba(255, 255, 255, 0.03);
                }
            }
        }
    }
}

.locked {
    overflow: hidden;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 50px;
    }
    100% {
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
    }
}

main section.one header nav ul[role="menu"]{
    display: block;
}







.mfp-bg {
  background: rgba(173, 152, 0, 0.95) !important;
  opacity: 1;
}

.modal-form {
  padding: 0 15px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 350px;
  text-align: center;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.9);
  transition: all 3s ease-out;
  box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.21);
}

.modal-form h3 {
  font-family: "Proxima Nova";
  font-size: 28px;
  font-weight: normal;
  padding-top: 35px;
}

.modal-form ol {
  list-style-type: none;
  padding: 10px 40px;
}

.modal-form ol li {
  margin: 30px 0;
}

.modal-form ol li input {
  background: none;
  border: none;
  border: 1px solid #000;
  width: 100%;
  font-size: 16px;
  padding: 5px 15px;
}

.modal-form .btn-form {
  display: flex;
  justify-content: center;
  margin-left: 0;
}



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


.persd-sogl{
    font-size: 12px;
    margin-top: 10px;
    a{
        color: #2ACB72;
    }
}


























